.hosen-separator {
	width: 100%;
	padding-top: var(--padding-top, 20px);
	padding-bottom: var(--padding-bottom, 20px);
}

.hosen-separator__container {
	background-color: rgba(18, 18, 18, 0.1);
	width: 100%;
	height: 1px;
}

@media screen and (min-width: 750px) {
	.hosen-separator__container {
		padding: 0 3rem;
	}
}
